.contar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
}
.contarCss{
    display: flex;
    text-align: center;
    justify-content: center;
    min-width: 30px;
}